<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flight Monitor</title>
    <meta name="author" content="billtt">

    <meta property="og:title" content="Flight Monitor">
    <meta property="og:type" content="website">

</head>

<body>
<!-- your content here... -->
<script src="js/scripts.js"></script>
</body>
</html>