<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flight Monitor</title>
    <meta name="author" content="billtt">

    <meta property="og:title" content="Flight Monitor">
    <meta property="og:type" content="website">

</head>

<body>

<h3>Flight Status</h3>
<div id="status"></div>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/FlightMonitor.js"></script>
</body>
</html>