<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flight Monitor</title>
    <meta name="author" content="billtt">

    <meta property="og:title" content="Flight Monitor">
    <meta property="og:type" content="website">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">

    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            paddng: 0;
        }

        sup {
            font-weight: bold;
            color: gray;
        }

        .subtle {
            font-size: 80%;
            color: #343a40;
        }

        .title {
            margin-top: 15px;
            font-size: 0.9em;
            font-weight: bold;
            background-color: #f0f0f0;
            padding: 5px 0px;
        }

        #map {
            height: 100%;
        }

        #status {
            max-width: 300px;
            position: absolute;
            z-index: 1;
            left: 0px;
            top: 10px;
        }

        #metar {
            font-family: monospace;
            font-size: 0.9em;
            width: auto;
            max-width: 360px;
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 10px;
        }

        #metar .card-body {
            padding: 0px 15px;
        }

        #metar .card-header {
            font-size: 1.2em;
        }

        #metarOrigin {
            margin-bottom: 5px !important;
        }

        #metarOrigin,#metarDest {
            text-align: left;
        }

        #valIcao, #valFlightCat {
            font-weight: bold;
        }

        #valMetarTime {
            font-size: 0.8em;
        }

        .hidden {
            visibility: hidden;
        }

        .descent-ref {
            background: #efefef;
            margin-top: 10px;
            padding: 6px 0px;
        }

        .indicator {
            border-left: 3px solid;
            padding: 0.6em !important;
        }

        .button-box {
            display: inline-block;
            font-size: 0.8em;
            width: 80px;
        }

        .noDisplay {
            display: none;
        }

        .LIFR { border-left-color: magenta; }
        .IFR { border-left-color: red; }
        .MVFR { border-left-color: blue; }
        .VFR { border-left-color: green; }

    </style>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap4-toggle.min.js"></script>

</head>

<body>

<div id="map"></div>

<div class="container" id="status">
    <main>
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3 indicator" id="spdIndicator">
                        <div class="button-box">
                            Plan<br/><button type="button" class="btn btn-primary btn-sm" id="btPlan">Load</button>
                        </div>
                        <div class="button-box">
                            Follow<br/><input type="checkbox" checked data-toggle="toggle" data-size="sm" id="chkAutoCenter"/>
                        </div>
                        <div class="button-box">
                            Zoom<br/><input type="checkbox" checked data-toggle="toggle" data-size="sm" id="chkAutoZoom"/>
                        </div>
                    </div>
                    <div class="card-body">
                        <span style="font-size: 1.2em;">
                            <b><span id="valDistance">0.0</span> <sup>nm</sup></b>
                            / <span id="valTotalDist">0.0</span> <sup>nm</sup>
                        </span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="pgbPercent"></div>
                        </div>
                        <ul class="list-unstyled mt-3 mb-4" style="margin: 0px 0px !important;">
                            <li style="font-size: 1.2em;">
                                <span id="valETE">0</span>
                                <span id="valETA" class="subtle">01/01 00:00</span>
                            </li>
                            <li>

                            </li>
                            <li style="font-size: 1.2em;">
                                <b><span id="valGS">0.0</span> <sup>kts</sup></b>
                                <b><span id="valAltitude">0.0</span> <sup>ft</sup></b>
                            </li>
                            <li class="descent-ref">
                                <span id="valDesAngle">0.0</span>° &nbsp;&nbsp;
                                <span id="valDesVelocity">0.0</span><sup>ft/min</sup>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<div class="container hidden" id="metar">
    <main>
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm" id="metarOrigin">
                    <div class="card-header py-3 indicator" id="fcatIndicatorOrigin">
                        <span id="valIcaoOrigin">ZBAA</span>
                        Rwy <span id="valRunwayOrigin">36L</span> (<span id="valElevationOrigin">0</span><sup>ft</sup>)<br/>
                        <span id="valMetarOrigin" style="font-size: 70%;"></span>
                    </div>
                </div>
                <div class="card mb-4 rounded-3 shadow-sm" id="metarDest">
                    <div class="card-header py-3 indicator" id="fcatIndicatorDest">
                        <span id="valIcaoDest">ZBAA</span>
                        Rwy <span id="valRunwayDest">36L</span> (<span id="valElevationDest">0</span><sup>ft</sup>)<br/>
                        <span id="valMetarDest" style="font-size: 70%;"></span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>

<script src="js/FlightMonitor.js"></script>
<script src="js/MapConvertor.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=<%=ak%>&callback=init"></script>

</html>