<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Flight Monitor</title>
    <meta name="author" content="billtt">

    <meta property="og:title" content="Flight Monitor">
    <meta property="og:type" content="website">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">

    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            paddng: 0;
        }

        sup {
            font-weight: bold;
            color: gray;
        }

        .metric {
            font-size: 80%;
            color: #343a40;
        }

        .title {
            margin-top: 15px;
            font-size: 0.9em;
            font-weight: bold;
            background-color: #f0f0f0;
            padding: 5px 0px;
        }

        #map {
            height: 100%;
        }

        #status {
            max-width: 300px;
            position: absolute;
            z-index: 1;
            left: 0px;
            top: 10px;
        }

        #metar {
            font-size: 0.9em;
            max-width: 210px;
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 10px;
        }

        #metar .card-body {
            padding: 0px 15px;
        }

        #metar .card-header {
            font-size: 1.2em;
        }

        #valIcao, #valFlightCat {
            font-weight: bold;
        }

        #valMetarTime {
            font-size: 0.8em;
        }

        .hidden {
            visibility: hidden;
        }

        .LIFR { color: magenta; }
        .IFR { color: red; }
        .MVFR { color: blue; }
        .VFR { color: green; }

    </style>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap4-toggle.min.js"></script>

</head>

<body>

<div id="map"></div>

<div class="container" id="status">
    <main>
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <span id="valUpdateTime">-</span>
                    </div>
                    <div class="card-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="pgbPercent">
                            </div>
                        </div>
                        <p style="margin-top: 10px;">
                            <b>
                                <span id="valCompletedDist">0.0</span> /
                                <span id="valTotalDist">0.0</span> <sup>nm</sup>
                            </b><br/>
                            <span class="metric">
                                (<span id="valCompletedDistKm">0.0</span> /
                                <span id="valTotalDistKm">0.0</span> <sup>km</sup>)
                            </span>
                        </p>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="title">Destination</li>
                            <li style="font-size: 1.2em;">
                                <b><span id="valDistance">0.0</span> <sup>nm</sup></b>
                                <span class="metric">
                                    (<span id="valDistanceKm">0.0</span> <sup>km</sup>)
                                </span>
                            </li>
                            <li>
                                <span id="valETE">0</span><sup>min</sup>
                                (<span id="valETA">01/01 00:00</span>)
                            </li>
                            <li class="title">Altitude</li>
                            <li style="font-size: 1.2em;">
                                <b><span id="valAltitude">0.0</span> <sup>ft</sup></b>
                                <span class="metric">(<span id="valAltitudeM">0.0</span> <sup>m</sup>)</span>
                            </li>
                            <li class="title">Speed</li>
                            <li style="font-size: 1.2em;">
                                <b><span id="valGS">0.0</span> <sup>kts</sup></b>
                                <span class="metric">
                                    (<span id="valGSKm">0.0</span> <sup>km/h</sup>)
                                </span>
                            </li>
                            <li>
                                <span class="badge bg-secondary">TAS</span>
                                <span id="valTAS">0.0</span> <sup>kts</sup>
                            </li>
                            <li class="title">Fuel</li>
                            <li>
                                <span id="valFuel">0.0</span><sup>kg</sup><br/>
                                <span id="valFuelRate">0.0</span><sup>kg/h</sup>
                                (<span id="valFuelTime">0.0</span><sup>h</sup>)
                            </li>
                            <li class="title">Descent Ref</li>
                            <li>
                                <span id="valDesAngle">0.0</span>째 &nbsp;&nbsp;
                                <span id="valDesVelocity">0.0</span><sup>ft/min</sup>
                            </li>
                        </ul>
                        <div style="float:left; font-size: 0.9em; width: 100px;">
                            Auto Center<br/><input type="checkbox" checked data-toggle="toggle" data-size="sm" id="chkAutoCenter"/>
                        </div>
                        <div style="float:right; font-size: 0.9em; width: 100px;">
                            Flight Plan<br/><button type="button" class="btn btn-primary btn-sm" id="btPlan">Load</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<div class="container hidden" id="metar">
    <main>
        <div class="row row-cols-1 row-cols-md-1 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <span id="valIcao">ZBAA</span> (<span id="valFlightCat">VFR</span>)<br/>
                        <span id="valMetarTime">-</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="title">Elevation / Runway</li>
                            <li>
                                <span id="valElevation">0</span><sup>ft</sup> /
                                <span id="valRunway">36L</span>
                            </li>
                            <li class="title">Weather / Visibility</li>
                            <li>
                                <span id="valWeather"></span> /
                                <span id="valVisibility">100</span><sup>km</sup>
                            </li>
                            <li class="title">Wind</li>
                            <li>
                                <span id="valWind">0째 0</span><sup>kts</sup>
                            </li>
                            <li class="title">Temperature (Dew)</li>
                            <li>
                                <span id="valTemp">15</span><sup>째C</sup>
                                (<span id="valDew">12</span><sup>째C</sup>)
                            </li>
                            <li class="title">Altimeter</li>
                            <li>
                                <span id="valInhg">29.92</span><sup>inHg</sup>
                                <span id="valHpa">1008</span><sup>hPa</sup>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

</body>

<script src="js/FlightMonitor.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=<%=ak%>&callback=init"></script>

</html>